<!DOCTYPE html>
<html ng-app="Proxy">

<head>
    <base href="/">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>.Dashboard</title>

    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>
    <script src="/static/js/app.js"></script>

    <style>
        html,
        body,
        .main-container {
            height: 100%;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<p style="text-align: center;"><strong>X-ProxyTech Homepage: </span><span style="text-decoration: underline;"><strong><a href="https://x-proxytech.github.io/Home-Page/" title="X-ProxyTech Homepage">Click Here</a></span></strong></p>
<p style="text-align: center;"><strong>Site Unblocker here: </span><span style="text-decoration: underline;"><strong><a href="http://proxy-node-c.herokuapp.com/" title="Site Unblocker">Click Here</a></span></strong></p>
<h4><p style="text-align: center;"><strong>Now Disguised as Canvas Dashboard</a></span></strong></h4></p>

<body ng-controller="ProxyController">
    <div class="container main-container valign-wrapper" ng-show="loading">
        <div class="row valign" style="width: 100%">
            <div class="col s12" ng-show="loading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-hide="loading">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content red-text">
                        <span class="card-title">YouTube Video ID</span>
                      <span class="blue-text"><span/>
                      <span class="card-subtitle" style="color: #1bc7de;">Video ID example: <em>https://www.youtube.com/watch?v=WI8pNnmDzdE </em> The Video ID: <em>will be WI8pNnmDzdE</em><span/>
                        <form ng-submit="view()">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input ng-model="ytLink" id="ytLink" type="text" class="validate" required>
                                    <label for="ytLink">Video ID</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="submit" class="waves-effect waves-light btn red">Go</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content red-text">
                        <span class="card-title">YouTube Search</span>
                        <form ng-submit="searchView()">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input ng-model="ytSearch" id="ytSearch" type="text" class="validate" required>
                                    <label for="ytSearch">Search Query</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="submit" class="waves-effect waves-light btn red">Go</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content red-text">
                        <span class="card-title">History</span>
                        <div class="row">
                            <div class="col s12">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Video ID</th>
                                            <th>Video Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="historyItem in history">
                                            <td>{{historyItem.id}}</td>
                                            <td>{{historyItem.title}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="waves-effect waves-light btn red" ng-click="clear()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
